Repository Automattic/wordpress-activitypub, pull requests merged in 2025-06, with the labels that each got.

#1756 Reactions: Remove excessive margins
  build/reactions/style-index-rtl.css
  build/reactions/style-index.css
  src/reactions/style.scss
Labels: Skip Changelog, [Focus] Editor, [Block] Reactions, [Feature] Reactions

#1758 Improve Docs
  docs/how-to/readme.md
  docs/how-to/reverse-proxy.md
  docs/how-to/wordpress-in-a-subdir.md
  docs/readme.md
  readme.txt
Labels: Docs, [Type] Janitorial, Skip Changelog

#1754 User Option: Limit to users with Activitypub cap
  .github/changelog/1754-from-description
  build/follow-me/index.asset.php
  build/follow-me/index.js
  build/followers/index.asset.php
  build/followers/index.js
  build/reactions/render.php
  src/shared/use-user-options.js
Labels: [Focus] Editor

#1747 Followers: Use Interactivity API
  .github/changelog/1747-from-description
  .prettierignore
  build/followers/block.json
  build/followers/index.asset.php
  build/followers/index.js
  build/followers/render.php
  build/followers/style-index-rtl.css
  build/followers/style-index.css
  build/followers/style-view-rtl.css
  build/followers/style-view.css
  build/followers/view.asset.php
  build/followers/view.js
  includes/class-blocks.php
  src/followers/block.json
  src/followers/deprecations.js
  src/followers/edit.js
  src/followers/followers.js
  src/followers/index.js
  src/followers/pagination-page.js
  src/followers/pagination.js
  src/followers/pagination.scss
  src/followers/render.php
  src/followers/save.js
  src/followers/style.scss
  src/followers/view.js
Labels: [Block] Followers, [Focus] Editor

#1757 Modal: Fix deprecated warning and element focus
  build/follow-me/view.asset.php
  build/follow-me/view.js
  build/followers/render.php
  build/followers/style-index-rtl.css
  build/followers/style-index.css
  build/reactions/view.asset.php
  build/reactions/view.js
  build/remote-reply/render.php
  build/remote-reply/view.asset.php
  build/remote-reply/view.js
  src/followers/render.php
  src/followers/style.scss
  src/remote-reply/render.php
  src/shared/modal/index.js
Labels: [Block] Followers, [Status] In Progress, Skip Changelog, [Block] Remote Reply, [Focus] Editor

#1750 Blocks: Cleanup after Interactivity moves
  build/editor-plugin/plugin.asset.php
  build/editor-plugin/plugin.js
  includes/class-blocks.php
  src/editor-plugin/plugin.js
Labels: Skip Changelog, [Block] Post settings, [Focus] Editor

#1761 Reactions: Apply learnings from other blocks
  build/reactions/block.json
  build/reactions/index.asset.php
  build/reactions/index.js
  build/reactions/render.php
  build/reactions/style-index-rtl.css
  build/reactions/style-index.css
  src/reactions/block.json
  src/reactions/render.php
  src/reactions/style.scss
  tests/includes/class-test-blocks.php
Labels: Skip Changelog, [Focus] Editor, [Block] Reactions, [Feature] Reactions

#1753 Follow Me: Introduce Author Card style
  build/follow-me/block.json
  build/follow-me/index.asset.php
  build/follow-me/index.js
  build/follow-me/render.php
  build/follow-me/style-index-rtl.css
  build/follow-me/style-index.css
  includes/class-blocks.php
  src/follow-me/block.json
  src/follow-me/deprecation.js
  src/follow-me/edit.js
  src/follow-me/render.php
  src/follow-me/style.scss
  src/follow-me/view.js
Labels: [Block] Follow Me, Skip Changelog, [Focus] Editor

#1765 Fix #1764
  .github/changelog/1765-from-description
  includes/class-options.php
  includes/wp-admin/class-settings-fields.php
Labels: [Type] Bug, php, [Feature] WP Admin, [Status] Needs review

#1767 Blocks: Standardize deprecation files
  build/follow-me/index.asset.php
  build/follow-me/index.js
  build/followers/index.asset.php
  build/followers/index.js
  build/reactions/index.asset.php
  build/reactions/index.js
  src/follow-me/deprecation.js
  src/followers/deprecations.js
  src/reactions/deprecation.js
Labels: [Block] Follow Me, [Block] Followers, Skip Changelog, [Focus] Editor, [Block] Reactions, [Feature] Reactions

#1773 Release 6.0.0
  .github/changelog/1691-from-description
  .github/changelog/1703-from-description
  .github/changelog/1711-from-description
  .github/changelog/1713-from-description
  .github/changelog/1718-from-description
  .github/changelog/1719-from-description
  .github/changelog/1721-from-description
  .github/changelog/1722-from-description
  .github/changelog/1723-from-description
  .github/changelog/1724-from-description
  .github/changelog/1726-from-description
  .github/changelog/1730-from-description
  .github/changelog/1731-from-description
  .github/changelog/1733-from-description
  .github/changelog/1735-from-description
  .github/changelog/1747-from-description
  .github/changelog/1748-from-description
  .github/changelog/1751-from-description
  .github/changelog/1754-from-description
  .github/changelog/1760-from-description
  .github/changelog/1765-from-description
  .github/changelog/1766-from-description
  .github/changelog/1771-from-description
  CHANGELOG.md
  activitypub.php
  includes/class-migration.php
  readme.txt
Labels: Release

#1779 Followers: Add Dotcom improvements
  build/followers/style-index-rtl.css
  build/followers/style-index.css
  build/followers/view.asset.php
  build/followers/view.js
  build/reply/index.asset.php
  build/reply/index.js
  src/followers/block.json
  src/followers/style.scss
  src/followers/view.js
Labels: [Block] Followers, Skip Changelog, [Focus] Editor

#1780 Reactions: Add Dotcom improvements
  build/reactions/block.json
  build/reactions/index.asset.php
  build/reactions/index.js
  build/reactions/style-index-rtl.css
  build/reactions/style-index.css
  src/reactions/block.json
  src/reactions/style.scss
Labels: Skip Changelog, [Focus] Editor, [Block] Reactions, [Feature] Reactions

#1778 Rerun `follower` migration
  .github/changelog/1778-from-description
  includes/class-migration.php
Labels: [Status] In Progress

#1787 Update Stream-Connector to use `ap_follower`
  .github/changelog/1787-from-description
  integration/load.php
Labels: [Focus] Compatibility

#1786 Re-run the whole migration
  includes/class-migration.php
Labels: Skip Changelog

#1777 Follow Me: Improve MU compatibility
  .github/changelog/1777-from-description
  build/follow-me/block.json
  build/follow-me/index.asset.php
  build/follow-me/index.js
  build/follow-me/render.php
  build/follow-me/view.asset.php
  build/follow-me/view.js
  build/followers/block.json
  build/followers/index.asset.php
  build/followers/index.js
  src/follow-me/block.json
  src/follow-me/deprecation.js
  src/follow-me/edit.js
  src/follow-me/render.php
  src/follow-me/view.js
Labels: [Block] Follow Me, [Focus] Editor

#1789 Release 6.0.1
  .github/changelog/1777-from-description
  .github/changelog/1778-from-description
  .github/changelog/1781-from-description
  .github/changelog/1787-from-description
  CHANGELOG.md
  activitypub.php
  includes/class-migration.php
  readme.txt
Labels: Release

#1794 Blocks: Don't show contents in feeds
  .github/changelog/1794-from-description
  build/follow-me/render.php
  build/followers/render.php
  build/reactions/render.php
  includes/class-query.php
  includes/collection/class-outbox.php
  src/follow-me/render.php
  src/followers/render.php
  src/reactions/render.php
Labels: [Block] Follow Me, [Block] Followers, [Focus] Editor, [Feature] Collections, [Block] Reactions, [Feature] Reactions

#1798 Admin: Fix aka saving
  .github/changelog/1798-from-description
  includes/wp-admin/class-admin.php
  includes/wp-admin/class-user-settings-fields.php
Labels: [Feature] WP Admin

#1774 Unify JS-Modal templates
  build/follow-me/render.php
  build/reactions/render.php
  build/remote-reply/render.php
  src/follow-me/render.php
  src/reactions/render.php
  src/remote-reply/render.php
Labels: [Block] Follow Me, [Type] Janitorial, Skip Changelog, [Block] Remote Reply, [Focus] Editor, [Block] Reactions, [Feature] Reactions

#1819 InteractionsController: Remove URL escaping of redirect_url
  .github/changelog/1819-from-description
  includes/rest/class-interaction-controller.php
  tests/includes/rest/class-test-interaction-controller.php
Labels: [Feature] REST API

#1810 Reactions: Decode html entities in reactor names
  .github/changelog/1810-from-description
  build/reactions/render.php
  includes/rest/class-post-controller.php
  src/reactions/render.php
Labels: [Focus] Editor, [Block] Reactions, [Feature] Reactions, [Feature] REST API

#1802 Settings: Make screen options filterable
  .github/changelog/1802-from-description
  includes/wp-admin/class-settings.php
Labels: [Feature] WP Admin

#1807 Welcome: Account for blog mode in profile setup step
  .github/changelog/1807-from-description
  includes/wp-admin/class-blog-settings-fields.php
  includes/wp-admin/class-welcome-fields.php
Labels: [Feature] WP Admin

#1820 Welcome Page: Fix missing CSS when used as fallback
  .github/changelog/1820-from-description
  includes/compat.php
  includes/wp-admin/class-welcome-fields.php
  templates/welcome.php
  tests/includes/class-test-compat.php
Labels: [Feature] WP Admin

#1827 Limit tags in `readme.txt` to 5
  readme.txt
Labels: [Type] Janitorial, Skip Changelog

#1630 Support for WP REST Cache
  .github/changelog/1630-from-description
  integration/class-wp-rest-cache.php
  integration/load.php
Labels: [Focus] Compatibility

#1847 Setting to auto approve reactions
  .github/changelog/1847-from-description
  assets/css/activitypub-admin.css
  includes/class-comment.php
  includes/wp-admin/class-settings-fields.php
  includes/wp-admin/class-settings.php
  tests/includes/class-test-comment.php
Labels: [Feature] Reactions, [Feature] WP Admin

#1850 Delete: Avoid Warning when actor can't be found
  includes/handler/class-delete.php
Labels: Skip Changelog

#1841 Add fallback for Follower post-meta
  .github/changelog/1841-from-description
  includes/collection/class-followers.php
Labels: [Feature] Collections

#1848 Signatures: Improve support for hs2019 algorithm
  .github/changelog/1848-from-description
  includes/signature/class-draft-cavage-signature.php
  tests/includes/class-test-signature.php
Labels: [Feature] Signature

#1858 Signature: Add option to use RFC-9421 signatures
  .github/changelog/1858-from-description
  includes/class-http.php
  includes/class-signature.php
  includes/signature/class-draft-cavage-signature.php
  includes/signature/class-http-message-signature.php
  includes/signature/interface-signature-standard.php
  includes/wp-admin/class-advanced-settings-fields.php
  includes/wp-admin/class-settings.php
  tests/includes/class-test-signature.php
Labels: [Feature] WP Admin, [Feature] Signature

#1832 Signature: Make key management Actor-specific
  .github/changelog/1832-from-description
  includes/class-http.php
  includes/class-signature.php
  includes/collection/class-actors.php
  includes/model/class-application.php
  includes/model/class-blog.php
  includes/model/class-user.php
  includes/signature/class-draft-cavage-signature.php
  includes/signature/class-http-message-signature.php
  tests/includes/class-test-signature.php
  tests/includes/collection/class-test-actors.php
Labels: [Feature] Collections, [Feature] Signature

#1862 Blocks: Consolidate wording around 'Blog'
  .github/changelog/1862-from-description
  build/follow-me/block.json
  build/follow-me/index.asset.php
  build/follow-me/index.js
  build/follow-me/render.php
  build/followers/block.json
  build/followers/index.asset.php
  build/followers/index.js
  includes/class-blocks.php
  src/follow-me/block.json
  src/follow-me/deprecation.js
  src/follow-me/edit.js
  src/follow-me/render.php
  src/followers/block.json
  src/followers/deprecations.js
  src/followers/edit.js
  src/shared/inherit-block-fallback.js
  src/shared/use-user-options.js
Labels: [Block] Follow Me, [Block] Followers, [Focus] Editor

#1861 Followers: Fix error in Followers block
  build/followers/render.php
  includes/activity/class-generic-object.php
  includes/collection/class-actors.php
  src/followers/render.php
Labels: [Block] Followers, Skip Changelog, [Focus] Editor, [Feature] Collections

#1869 Signature: Cache instances that don't support RFC 9421
  includes/class-signature.php
  tests/includes/class-test-signature.php
Labels: Skip Changelog
