Repository Automattic/wordpress-activitypub, pull requests merged in 2025-05, with the labels that each got.

#1638 Send the Vary header by default
  .github/changelog/1638-from-description
  includes/class-activitypub.php
  includes/class-options.php
  includes/wp-admin/class-advanced-settings-fields.php
  includes/wp-admin/class-health-check.php
  includes/wp-admin/class-settings.php
Labels: [Feature] WP Admin, [Feature] Health Check

#1631 Max Image Attachments: Default to integer
  includes/class-options.php
  includes/wp-admin/class-settings-fields.php
  includes/wp-admin/class-settings.php
  tests/includes/class-test-blocks.php
Labels: Skip Changelog, [Feature] WP Admin

#1639 Enable/disable content negotiation
  .github/changelog/1639-from-description
  includes/class-activitypub.php
  includes/class-query.php
  includes/functions.php
  includes/wp-admin/class-advanced-settings-fields.php
  includes/wp-admin/class-settings.php
  tests/includes/class-test-query.php
Labels: [Feature] WP Admin

#1644 Update Post endpoint to extend WP_REST_Controller
  activitypub.php
  includes/rest/class-post-controller.php
  tests/includes/rest/class-test-post-controller.php
Labels: Skip Changelog, [Feature] REST API

#1646 Welcome: Try new UI
  assets/css/activitypub-admin.css
  assets/css/activitypub-welcome.css
  includes/wp-admin/class-welcome-fields.php
Labels: [Status] In Progress, [Feature] WP Admin

#1649 Health-Check: Janitorial changes
  includes/wp-admin/class-health-check.php
Labels: [Type] Janitorial, Skip Changelog, [Feature] WP Admin, [Feature] Health Check

#1637 Server: Remove redundant check
  includes/rest/class-server.php
  tests/includes/rest/class-test-server.php
Labels: Skip Changelog, [Feature] REST API

#1650 Remove widgets and recommended plugins
  includes/wp-admin/class-user-settings-fields.php
  includes/wp-admin/class-welcome-fields.php
Labels: Skip Changelog, [Feature] WP Admin

#1653 Help: Reuse design language in plugin cards
  assets/css/activitypub-admin.css
  templates/emails/new-follower.php
Labels: Skip Changelog

#1654 Checklist: Add trailing period to done items.
  assets/css/activitypub-welcome.css
  includes/wp-admin/class-welcome-fields.php
Labels: Skip Changelog, [Feature] WP Admin

#1656 Changelogger: move draft & base branch check to script
  .github/workflows/changelog.yml
Labels: Actions, Skip Changelog, github-actions

#1620 Inbox: Replace debug call with action
  includes/class-debug.php
  includes/rest/class-actors-inbox-controller.php
  includes/rest/class-inbox-controller.php
Labels: Skip Changelog, [Feature] REST API

#1640 Change default settings based on caching behaviour
  .github/changelog/1640-from-description
  includes/class-options.php
Labels: [Status] In Progress

#1651 Checklist: Keep better track of step counts
  includes/wp-admin/class-welcome-fields.php
Labels: Skip Changelog, [Feature] WP Admin

#1655 Checklist: Mark help tab visits as done
  activitypub.php
  assets/js/activitypub-admin.js
  includes/wp-admin/class-admin.php
  includes/wp-admin/class-welcome-fields.php
Labels: Skip Changelog, [Feature] WP Admin

#1659 Change/welcome step completed hover
  assets/css/activitypub-welcome.css
Labels: Skip Changelog

#1635 Fix minor code changes
  includes/activity/class-generic-object.php
  includes/class-blocks.php
  includes/class-comment.php
  includes/class-debug.php
  includes/class-embed.php
  includes/class-mention.php
  includes/class-migration.php
  includes/class-move.php
  includes/class-shortcodes.php
  includes/class-signature.php
  includes/collection/class-actors.php
  includes/collection/class-interactions.php
  includes/compat.php
  includes/constants.php
  includes/functions.php
  includes/handler/class-delete.php
  includes/handler/class-update.php
  includes/model/class-follower.php
  includes/model/class-user.php
  includes/rest/class-actors-controller.php
  includes/rest/class-replies-controller.php
  includes/rest/class-server.php
  includes/table/class-followers.php
  includes/transformer/class-activity-object.php
  includes/transformer/class-base.php
  includes/transformer/class-factory.php
  includes/transformer/class-post.php
  includes/transformer/class-user.php
  includes/wp-admin/class-admin.php
  includes/wp-admin/class-blog-settings-fields.php
  includes/wp-admin/class-health-check.php
  includes/wp-admin/class-settings-fields.php
  includes/wp-admin/class-user-settings-fields.php
  includes/wp-admin/class-welcome-fields.php
  integration/class-enable-mastodon-apps.php
  integration/class-multisite-language-switcher.php
  integration/class-wpml.php
Labels: [Focus] Compatibility, Skip Changelog, [Focus] Editor, [Feature] Collections, [Feature] WP Admin, [Feature] Health Check, [Feature] REST API

#1660 Extra Fields: Don't send more than 20
  .github/changelog/1660-from-description
  includes/collection/class-extra-fields.php
Labels: [Feature] Collections

#1662 Checklist: Update option in case it exists.
  includes/wp-admin/class-settings.php
  includes/wp-admin/class-user-settings-fields.php
Labels: [Feature] WP Admin

#1663 Scripts: Make plugin scripts available in all tabs
  includes/wp-admin/class-admin.php
  includes/wp-admin/class-settings.php
Labels: Skip Changelog, [Feature] WP Admin

#1666 Checklist: Update help tab checks
  activitypub.php
  assets/js/activitypub-admin.js
  includes/wp-admin/class-settings.php
  includes/wp-admin/class-welcome-fields.php
Labels: [Feature] WP Admin

#1668 Fix: Clear Errors when a Follower update is successfull
  .github/changelog/1668-from-description
  includes/class-scheduler.php
  includes/collection/class-followers.php
  includes/model/class-follower.php
  tests/includes/collection/class-test-followers.php
  tests/includes/model/class-test-follower.php
Labels: [Feature] Collections

#1669 Checklist: Improve the wording
  includes/wp-admin/class-welcome-fields.php
Labels: Skip Changelog, [Feature] WP Admin

#1672 Fix JS options
  includes/class-blocks.php
Labels: Skip Changelog, [Focus] Editor

#1676 Add Windsurf configs to gitignore
  .gitignore
Labels: Skip Changelog

#1675 Checklist: Make health check number an option
  includes/class-activitypub.php
  includes/wp-admin/class-welcome-fields.php
Labels: [Feature] WP Admin

#1670 Checklist: Fix Help-Tabs
  includes/wp-admin/class-admin.php
  includes/wp-admin/class-settings.php
  includes/wp-admin/class-welcome-fields.php
Labels: Skip Changelog, [Feature] WP Admin

#1677 Emails: Make sure actor URL is set correctly
  .github/changelog/1677-from-description
  includes/class-mailer.php
  tests/includes/class-test-mailer.php
Labels: [Feature] Notifications

#1648 Add Cache Config to enable ActivityPub support for Surge
  .github/changelog/1648-from-description
  integration/class-surge.php
  integration/load.php
  integration/surge-cache-config.php
  tests/integration/class-test-surge.php
Labels: [Focus] Compatibility, [Feature] WP Admin, [Feature] Health Check

#1673 JS: Update format to follow WP standards
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/dependabot.yml
  .github/release.yml
  .github/workflows/changelog.yml
  .github/workflows/deploy.yml
  .github/workflows/gardening.yml
  .github/workflows/phpunit.yml
  .prettierignore
  .prettierrc.js
  .wordpress-org/blueprints/blueprint.json
  .wp-env.json
  bin/release.js
  docker-compose-test.yml
  docker-compose.yml
  package.json
Labels: Actions, Skip Changelog

#1681 Mention: Do not send Mention-Email for replies
  .github/changelog/1681-from-description
  includes/class-mailer.php
  tests/includes/class-test-mailer.php
Labels: [Feature] Notifications

#1692 Follow Me: Use button block
  build/follow-me/block.json
  build/follow-me/index.asset.php
  build/follow-me/index.js
  build/follow-me/index.js.map
  build/follow-me/render.php
  build/follow-me/style-view.css
  build/follow-me/style-view.css.map
  build/follow-me/view.asset.php
  build/follow-me/view.js
  build/follow-me/view.js.map
  includes/class-blocks.php
  src/follow-me/block.json
  src/follow-me/button-style.js
  src/follow-me/deprecation.js
  src/follow-me/edit.js
  src/follow-me/index.js
  src/follow-me/render.php
  src/follow-me/save.js
  src/follow-me/style.scss
  src/follow-me/view.js
Labels: [Block] Follow Me, [Focus] Editor

#1682 Help-Tab: Add ActivityPub capability help to users page
  .github/changelog/1682-from-description
  includes/wp-admin/class-menu.php
  includes/wp-admin/class-settings.php
  templates/help-tab/users.php
Labels: [Feature] WP Admin

#1679 Checklist: Resolve once all steps are complete
  includes/wp-admin/class-welcome-fields.php
Labels: [Feature] WP Admin

#1519 Fix: Invalidate retries with the invalidation of an Outbox Item
  .github/changelog/1519-from-description
  includes/class-scheduler.php
  includes/collection/class-outbox.php
  tests/includes/class-test-scheduler.php
Labels: [Type] Bug, [Feature] Collections

#1689 Prettier: Update shared JS
  .prettierignore
  src/shared/dialog.js
  src/shared/inherit-block-fallback.js
  src/shared/use-options.js
  src/shared/use-remote-user.js
  src/shared/use-user-options.js
Labels: Skip Changelog, [Focus] Editor

#1625 Improve Welcome page with the focus on better onboarding.
  .github/changelog/1625-from-description
  assets/css/activitypub-admin.css
  assets/css/activitypub-welcome.css
  assets/js/activitypub-admin.js
  includes/class-activitypub.php
  includes/wp-admin/class-admin.php
  includes/wp-admin/class-settings.php
  includes/wp-admin/class-user-settings-fields.php
  includes/wp-admin/class-welcome-fields.php
  readme.txt
Labels: [Status] In Progress, [Feature] WP Admin

#1695 Fix broken avatars
  .github/changelog/1695-from-description
  build/editor-plugin/plugin.asset.php
  build/editor-plugin/plugin.js
  build/follow-me/index.asset.php
  build/follow-me/index.js
  build/follow-me/view.asset.php
  build/follow-me/view.js
  build/followers/index.asset.php
  build/followers/index.js
  build/followers/style-view-rtl.css
  build/followers/style-view.css
  build/followers/view.asset.php
  build/followers/view.js
  build/reactions/index.asset.php
  build/reactions/index.js
  build/reactions/style-index-rtl.css
  build/reactions/style-index.css
  build/reactions/view.asset.php
  build/reactions/view.js
  build/remote-reply/index.asset.php
  build/remote-reply/index.js
  build/reply/index.asset.php
  build/reply/index.js
  src/followers/followers.js
  src/followers/style.scss
  src/reactions/reactions.js
  src/reactions/style.scss
Labels: [Block] Followers, [Focus] Editor, [Block] Reactions, [Feature] Reactions

#1697 Welcome: Use correct array key
  includes/wp-admin/class-welcome-fields.php
Labels: Skip Changelog, [Feature] WP Admin

#1694 Change: Move `delete_options` to `Options::class`
  includes/class-activitypub.php
  includes/class-options.php
  tests/includes/class-test-options.php
Labels: [Type] Janitorial, Skip Changelog

#1696 Surge: Don't use AP constant in wp-config.
  integration/class-surge.php
  tests/integration/class-test-akismet.php
  tests/integration/class-test-enable-mastodon-apps.php
  tests/integration/class-test-seriously-simple-podcasting.php
  tests/integration/class-test-surge.php
Labels: [Focus] Compatibility, Skip Changelog

#1699 Embed: Accept Document and Image types
  includes/class-embed.php
  tests/includes/class-test-embed.php
Labels: Skip Changelog

#1700 Consistantly use `Activitypub` (lowercase "p")
  CHANGELOG.md
  includes/class-mailer.php
  includes/rest/class-outbox-controller.php
  includes/wp-admin/class-advanced-settings-fields.php
  includes/wp-admin/class-blog-settings-fields.php
  includes/wp-admin/class-user-settings-fields.php
  tests/includes/activity/class-test-generic-object.php
  tests/includes/class-test-dispatcher.php
  tests/includes/class-test-embed.php
  tests/includes/class-test-functions.php
  tests/includes/class-test-mailer.php
  tests/includes/class-test-query.php
  tests/includes/class-test-scheduler.php
  tests/includes/handler/class-test-delete.php
  tests/includes/handler/class-test-follow.php
  tests/includes/rest/class-test-collections-controller.php
  tests/includes/rest/class-test-comments-controller.php
  tests/includes/rest/class-test-moderators-controller.php
  tests/includes/rest/class-test-post-controller.php
  tests/includes/rest/class-test-replies-controller.php
  tests/includes/rest/class-test-trait-collection.php
  tests/includes/transformer/class-test-activity-object.php
  tests/includes/transformer/class-test-attachment.php
  tests/includes/transformer/class-test-base.php
  tests/includes/transformer/class-test-comment.php
  tests/includes/transformer/class-test-factory.php
  tests/includes/transformer/class-test-json.php
  tests/integration/class-test-akismet.php
Labels: [Type] Janitorial, Skip Changelog, [Feature] Notifications, [Feature] WP Admin, [Feature] REST API

#1706 Prettier: Include wp-prettier package
  package.json
Labels: Skip Changelog

#1708 Keep `.editorconfig` in sync with `.prettierrc.js`
  .distignore
  .editorconfig
  .prettierrc.js
  .wordpress-org/blueprints/blueprint.json
  .wp-env.json
  composer.json
  package.json
  src/editor-plugin/block.json
Labels: [Type] Janitorial, Skip Changelog, [Block] Post settings, [Focus] Editor

#1709 Reactions: Hide title more comprehensively
  .github/changelog/1709-from-description
  build/reactions/index.asset.php
  build/reactions/index.js
  build/reactions/view.asset.php
  build/reactions/view.js
  includes/class-blocks.php
  src/reactions/reactions.js
  tests/includes/class-test-blocks.php
Labels: [Focus] Editor, [Block] Reactions, [Feature] Reactions

#1711 Add `in_reply_to` Actor to Activity audience
  .github/changelog/1711-from-description
  includes/class-http.php
  includes/transformer/class-base.php
  includes/transformer/class-post.php
  tests/includes/transformer/class-test-base.php
Labels: [Status] In Progress

#1719 Add fallback-avatar to reaction dropdown list
  .github/changelog/1719-from-description
  build/reactions/index.asset.php
  build/reactions/index.js
  build/reactions/view.asset.php
  build/reactions/view.js
  src/reactions/reactions.js
Labels: [Focus] Editor, [Block] Reactions, [Feature] Reactions

#1717 Add .map files to gitignore
  .gitignore
Labels: Skip Changelog

#1703 Update WP requirement to 6.5
  .github/changelog/1703-from-description
  .github/workflows/phpunit.yml
  includes/compat.php
  phpcs.xml
  readme.txt
Labels: Actions

#1723 Remove deprecated functions, filters and actions
  .github/changelog/1723-from-description
  activitypub.php
  includes/class-comment.php
  includes/class-dispatcher.php
  includes/class-migration.php
  includes/collection/class-users.php
  includes/functions.php
  includes/transformer/class-base.php
  tests/includes/class-test-comment.php
  tests/includes/class-test-dispatcher.php
  tests/includes/collection/class-test-actors.php
Labels: [Feature] Collections

#1691 Follow Me: Make it interactive!
  .github/changelog/1691-from-description
  .prettierignore
  build/follow-me/block.json
  build/follow-me/index.asset.php
  build/follow-me/index.js
  build/follow-me/render.php
  build/follow-me/style-view-rtl.css
  build/follow-me/style-view.css
  build/follow-me/view.asset.php
  build/follow-me/view.js
  build/reply/index.asset.php
  build/reply/index.js
  includes/class-blocks.php
  package.json
  src/follow-me/block.json
  src/follow-me/button-style.js
  src/follow-me/deprecation.js
  src/follow-me/edit.js
  src/follow-me/follow-me.js
  src/follow-me/index.js
  src/follow-me/render.php
  src/follow-me/save.js
  src/follow-me/style.scss
  src/follow-me/view.js
Labels: [Block] Follow Me, [Focus] Editor

#1724 Improve Surge wp-config handling
  .github/changelog/1724-from-description
  integration/class-surge.php
  tests/integration/class-test-surge.php
Labels: [Focus] Compatibility

#1718 Remove the JS wave effect
  .github/changelog/1718-from-description
  build/reactions/index.asset.php
  build/reactions/index.js
  build/reactions/style-index-rtl.css
  build/reactions/style-index.css
  build/reactions/view.asset.php
  build/reactions/view.js
  src/reactions/reactions.js
  src/reactions/style.scss
Labels: [Focus] Editor, [Block] Reactions, [Feature] Reactions

#1725 Modal: Unify in shared component
  build/editor-plugin/plugin.asset.php
  build/editor-plugin/plugin.js
  build/follow-me/index.asset.php
  build/follow-me/index.js
  build/follow-me/render.php
  build/follow-me/style-view.css
  build/follow-me/view.asset.php
  build/follow-me/view.js
  build/followers/index.asset.php
  build/followers/index.js
  build/followers/view.asset.php
  build/followers/view.js
  build/reactions/index.asset.php
  build/reactions/index.js
  build/reactions/render.php
  build/reactions/style-index-rtl.css
  build/reactions/style-index.css
  build/reactions/view.asset.php
  build/reactions/view.js
  build/remote-reply/index.asset.php
  build/remote-reply/index.js
  build/reply/index.asset.php
  build/reply/index.js
  includes/class-blocks.php
  src/follow-me/render.php
  src/follow-me/style.scss
  src/follow-me/view.js
  src/reactions/render.php
  src/reactions/style.scss
  src/reactions/view.js
  src/shared/modal/README.md
  src/shared/modal/index.js
  src/shared/modal/style.scss
Labels: [Block] Follow Me, Docs, Skip Changelog, [Focus] Editor, [Block] Reactions, [Feature] Reactions

#1749 Shared JS: Remove unused components
  includes/class-blocks.php
  src/shared/dialog.js
  src/shared/lightbox.scss
  src/shared/use-remote-user.js
Labels: Skip Changelog, [Focus] Editor
