Repository Automattic/wordpress-activitypub, pull requests merged in 2025-04, with the labels that each got.

#1533 lover significance
  .github/changelog/add-inherit-activity
Labels: Skip Changelog

#1540 Fix: Post Interactions settings
  .github/changelog/1540-from-description
  includes/wp-admin/class-settings-fields.php
  includes/wp-admin/class-settings.php
Labels: [Feature] WP Admin

#1537 Fix: Use specified time formatting for Outbox Activities
  .github/changelog/1537-from-description
  includes/collection/class-outbox.php
  includes/constants.php
  includes/model/class-application.php
  includes/model/class-blog.php
  includes/model/class-user.php
  includes/scheduler/class-actor.php
  includes/transformer/class-comment.php
  includes/transformer/class-post.php
  tests/includes/collection/class-test-outbox.php
  tests/includes/scheduler/class-test-actor.php
Labels: [Feature] Collections

#1542 Release 5.6.1
  .github/changelog/1537-from-description
  .github/changelog/1539-from-description
  .github/changelog/1540-from-description
  CHANGELOG.md
  activitypub.php
  readme.txt
Labels: Release

#1449 Advanced Settings
  .github/changelog/add-advanced-settings
  activitypub.php
  includes/class-activitypub.php
  includes/functions.php
  includes/wp-admin/class-advanced-settings-fields.php
  includes/wp-admin/class-settings-fields.php
  includes/wp-admin/class-settings.php
  includes/wp-admin/class-welcome-fields.php
  templates/advanced-settings.php
Labels: [Type] Enhancement, Actions, [Feature] WP Admin

#1544 Fix deprecated notices in PHP 8
  includes/class-sanitize.php
  tests/includes/class-test-migration.php
  tests/includes/class-test-scheduler.php
Labels: Skip Changelog

#1543 Tests: Make sure test data gets deleted properly
  tests/includes/class-test-migration.php
  tests/includes/class-test-move.php
  tests/includes/handler/class-test-delete.php
  tests/includes/rest/class-test-actors-inbox-controller.php
  tests/includes/rest/class-test-collections-controller.php
  tests/includes/rest/class-test-comments-controller.php
  tests/includes/rest/class-test-replies-controller.php
Labels: Skip Changelog

#1548 Default of authorized fetch should be `disabled`
  includes/wp-admin/class-advanced-settings-fields.php
Labels: Skip Changelog, [Feature] WP Admin

#1529 Introduce user_can_activitypub
  includes/class-comment.php
  includes/class-migration.php
  includes/collection/class-actors.php
  includes/functions.php
  includes/model/class-user.php
  includes/transformer/class-factory.php
  includes/wp-admin/class-admin.php
  includes/wp-admin/class-health-check.php
  includes/wp-admin/class-menu.php
  includes/wp-admin/class-settings.php
  includes/wp-admin/class-welcome-fields.php
Labels: Skip Changelog, [Feature] Collections, [Feature] WP Admin

#1547 Site Health: Fix issue 1545 and add some additional informations
  .github/changelog/1547-from-description
  includes/class-sanitize.php
  includes/wp-admin/class-health-check.php
Labels: [Feature] WP Admin

#1100 Reply Block: Embed referenced post when possible
  .github/changelog/add-oembed-reply-block
  activitypub.php
  assets/css/activitypub-embed.css
  build/editor-plugin/plugin.asset.php
  build/editor-plugin/plugin.js
  build/follow-me/index.asset.php
  build/follow-me/index.js
  build/follow-me/view.asset.php
  build/follow-me/view.js
  build/followers/index.asset.php
  build/followers/index.js
  build/followers/view.asset.php
  build/followers/view.js
  build/reactions/index.asset.php
  build/reactions/index.js
  build/remote-reply/index.asset.php
  build/remote-reply/index.js
  build/reply-intent/plugin.asset.php
  build/reply-intent/plugin.js
  build/reply/block.json
  build/reply/index-rtl.css
  build/reply/index.asset.php
  build/reply/index.css
  build/reply/index.js
  build/reply/style-index-rtl.css
  build/reply/style-index.css
  includes/class-activitypub.php
  includes/class-blocks.php
  includes/class-embed.php
  includes/functions.php
  includes/rest/class-url-validator-controller.php
  includes/transformer/class-post.php
  src/reply-intent/plugin.js
  src/reply/block.json
  src/reply/edit.js
  src/reply/editor.scss
  src/reply/index.js
  src/reply/style.css
  templates/reply-embed.php
  tests/includes/class-test-blocks.php
  tests/includes/class-test-embed.php
Labels: [Type] Enhancement, [Block] Federated reply, [Focus] Editor

#1551 Only Announce `Creates`
  includes/class-scheduler.php
Labels: Skip Changelog

#1546 Onboarding: Improve troubleshooting UI
  .github/changelog/1546-from-description
  assets/css/activitypub-admin.css
  includes/wp-admin/class-admin.php
  includes/wp-admin/class-health-check.php
  includes/wp-admin/class-welcome-fields.php
  tests/includes/wp-admin/class-test-admin.php
Labels: [Feature] WP Admin, [Feature] Onboarding

#1524 Add: New Health checks
  .github/changelog/1524-from-description
  includes/wp-admin/class-health-check.php
Labels: [Status] In Progress, [Feature] WP Admin

#1552 Add: `Vary` header settings
  .github/changelog/1552-from-description
  activitypub.php
  includes/class-activitypub.php
  includes/class-options.php
  includes/constants.php
  includes/wp-admin/class-advanced-settings-fields.php
  includes/wp-admin/class-health-check.php
  includes/wp-admin/class-settings.php
Labels: [Feature] WP Admin

#1556 Tests: Convert timestamp to int for comparison
  tests/includes/scheduler/class-test-actor.php
Labels: Skip Changelog

#1133 Follow Me: add a button-only mode
  .github/changelog/update-button-only-mode-for-follow-me
  build/follow-me/block.json
  build/follow-me/index.asset.php
  build/follow-me/index.js
  build/follow-me/style-view-rtl.css
  build/follow-me/style-view.css
  build/follow-me/view.asset.php
  build/follow-me/view.js
  src/follow-me/block.json
  src/follow-me/edit.js
  src/follow-me/follow-me.js
  src/follow-me/style.scss
Labels: [Block] Follow Me, [Focus] Editor

#1530 Move: support same-server domain migrations
  .github/changelog/add-same-server-domain-move
  activitypub.php
  includes/class-activitypub.php
  includes/class-dispatcher.php
  includes/class-move.php
  includes/class-query.php
  includes/class-signature.php
  includes/collection/class-actors.php
  includes/functions.php
  includes/model/class-blog.php
  includes/model/class-user.php
  tests/includes/class-test-move.php
  tests/includes/model/class-test-blog.php
  tests/includes/model/class-test-user.php
Labels: [Status] In Progress, [Feature] Collections

#1564 Fix: Missing Actor in Outbox-Activities
  .github/changelog/1564-from-description
  includes/activity/class-activity.php
  includes/collection/class-outbox.php
  tests/includes/collection/class-test-outbox.php
Labels: [Feature] Collections

#1572 Update Changelog Items
  .github/changelog/add-oembed-reply-block
  .github/changelog/add-same-server-domain-move
Labels: Skip Changelog

#1571 Add label for "Health Check" and "REST API"
  .github/workflows/gardening.yml
Labels: Actions, Skip Changelog

#1569 Admin: Add padding to extra fields nav links
  assets/css/activitypub-admin.css
  includes/wp-admin/class-blog-settings-fields.php
  includes/wp-admin/class-user-settings-fields.php
Labels: Skip Changelog, [Feature] WP Admin

#1570 Fix: Show error if site uses "Almost Pretty Permalink" structure
  .github/changelog/1570-from-description
  includes/wp-admin/class-health-check.php
Labels: [Feature] WP Admin, [Feature] Health Check

#1574 Release 5.7.0
  .github/changelog/1524-from-description
  .github/changelog/1546-from-description
  .github/changelog/1547-from-description
  .github/changelog/1552-from-description
  .github/changelog/1553-from-description
  .github/changelog/1554-from-description
  .github/changelog/1555-from-description
  .github/changelog/1557-from-description
  .github/changelog/1559-from-description
  .github/changelog/1561-from-description
  .github/changelog/1564-from-description
  .github/changelog/1566-from-description
  .github/changelog/1567-from-description
  .github/changelog/1570-from-description
  .github/changelog/add-advanced-settings
  .github/changelog/add-oembed-reply-block
  .github/changelog/add-same-server-domain-move
  .github/changelog/update-button-only-mode-for-follow-me
  CHANGELOG.md
  activitypub.php
  includes/class-migration.php
  includes/functions.php
  readme.txt
Labels: Release

#1580 Skip changelog action on draft PRs
  .github/workflows/changelog.yml
Labels: Actions, Skip Changelog

#1583 EMA: Fix PHP Warning
  .github/changelog/1583-from-description
  integration/class-enable-mastodon-apps.php
Labels: [Focus] Compatibility

#1584 Update tested-up-to version
  .github/changelog/1584-from-description
  .github/workflows/phpunit.yml
  readme.txt
  tests/includes/class-test-shortcodes.php
Labels: Actions

#1577 Mention Email: Add notification option
  .github/changelog/1577-from-description
  includes/class-activitypub.php
  includes/class-embed.php
  includes/class-mailer.php
  includes/class-migration.php
  includes/functions.php
  includes/wp-admin/class-settings-fields.php
  includes/wp-admin/class-settings.php
  templates/emails/new-mention.php
  templates/emails/parts/footer.php
  templates/emails/parts/header.php
  tests/includes/class-test-blocks.php
Labels: [Feature] Notifications, [Feature] WP Admin

#1582 DM notification: Convert to HTML email
  .github/changelog/1582-from-description
  assets/css/activitypub-embed.css
  includes/class-mailer.php
  templates/emails/new-dm.php
  tests/includes/class-test-mailer.php
Labels: [Feature] Notifications, [Feature] WP Admin

#1587 Move the hooks of the HTML e-mails before the footer part
  templates/emails/new-dm.php
  templates/emails/new-follower.php
  templates/emails/new-mention.php
Labels: [Status] In Progress, Skip Changelog

#1585 Importer: Add support for video and audio files
  .github/changelog/1585-from-description
  includes/wp-admin/import/class-mastodon.php
Labels: [Feature] WP Admin, [Feature] Import

#1592 Block i18n improvements
  build/follow-me/index.asset.php
  build/follow-me/index.js
  build/follow-me/view.asset.php
  build/follow-me/view.js
  build/reactions/index.asset.php
  build/reactions/index.js
  build/remote-reply/index.asset.php
  build/remote-reply/index.js
  build/reply/index-rtl.css
  build/reply/index.asset.php
  build/reply/index.css
  package.json
  src/follow-me/follow-me.js
  src/reactions/edit.js
  src/remote-reply/remote-reply.js
  src/reply-intent/plugin.js
  src/reply/edit.js
  src/shared/dialog.js
Labels: [Block] Follow Me, [Status] In Progress, Skip Changelog, [Block] Remote Reply, [Block] Federated reply, [Focus] Editor, [Block] Reactions, [Feature] Reactions

#1590 Inbox: Apply disallowed list before processing
  .github/changelog/1590-from-description
  includes/rest/class-inbox-controller.php
  tests/includes/rest/class-test-inbox-controller.php
Labels: [Feature] REST API

#1598 Directly link to a help tab.
  .github/changelog/1598-from-description
  includes/wp-admin/class-admin.php
Labels: [Status] In Progress, [Feature] WP Admin

#1586 Make notification settings user-specific
  .github/changelog/1586-from-description
  assets/css/activitypub-embed.css
  includes/class-activitypub.php
  includes/class-mailer.php
  includes/class-migration.php
  includes/wp-admin/class-admin.php
  includes/wp-admin/class-blog-settings-fields.php
  includes/wp-admin/class-settings-fields.php
  includes/wp-admin/class-settings.php
  includes/wp-admin/class-user-settings-fields.php
  templates/emails/new-follower.php
  templates/emails/parts/footer.php
  tests/includes/class-test-mailer.php
  tests/includes/class-test-migration.php
Labels: [Feature] Notifications, [Feature] WP Admin

#1604 Add support for Multisite Language Switcher
  .github/changelog/1604-from-description
  integration/class-multisite-language-switcher.php
  integration/load.php
Labels: [Focus] Compatibility, OSS Citizen

#1603 Fix: Add user context to global inbox
  .github/changelog/1603-from-description
  includes/rest/class-inbox-controller.php
  tests/includes/rest/class-test-inbox-controller.php
Labels: [Status] In Progress, [Feature] REST API

#1600 Add "Dismiss Welcome Page Welcome" section
  .github/changelog/1600-from-description
  includes/wp-admin/class-welcome-fields.php
Labels: [Feature] WP Admin

#1609 Release: Add prompt for upgrade notice
  bin/release.js
Labels: Skip Changelog

#1612 Fix: Set default values for an Actor-Object
  .github/changelog/1612-from-description
  includes/class-mailer.php
  tests/includes/class-test-mailer.php
Labels: [Feature] Notifications

#1521 Scheduler: Process batches for individual hooks
  .github/changelog/1521-from-description
  includes/class-dispatcher.php
  includes/class-scheduler.php
  includes/collection/class-outbox.php
  tests/includes/class-test-scheduler.php
Labels: [Feature] Collections, [Feature] WP Admin

#1563 Implement FEP-c180: Problem Details for ActivityPub
  .github/changelog/1563-from-description
  includes/rest/class-actors-inbox-controller.php
  includes/rest/class-inbox-controller.php
  includes/rest/class-post.php
  includes/rest/class-server.php
  tests/includes/rest/class-test-actors-inbox-controller.php
  tests/includes/rest/class-test-inbox-controller.php
  tests/includes/rest/class-test-post.php
Labels: [Status] In Progress, [Feature] REST API

#1621 Tests: Micro optimizations
  tests/includes/class-test-migration.php
  tests/includes/class-test-move.php
  tests/includes/handler/class-test-move.php
  tests/includes/rest/class-test-outbox-controller.php
Labels: Skip Changelog

#1623 Add the RSS Feed of the Blog as a Dashboard Widget
  .github/changelog/1623-from-description
  includes/wp-admin/class-admin.php
Labels: [Feature] WP Admin

#1619 Editor: Add control for max image attachments
  .github/changelog/1619-from-description
  build/editor-plugin/plugin.asset.php
  build/editor-plugin/plugin.js
  build/reply/index-rtl.css
  build/reply/index.asset.php
  build/reply/index.css
  includes/class-blocks.php
  includes/transformer/class-post.php
  includes/wp-admin/class-settings-fields.php
  src/editor-plugin/plugin.js
Labels: [Block] Post settings, [Focus] Editor, [Feature] WP Admin
