Repository Automattic/wordpress-activitypub, pull requests merged in 2025-08, with the labels that each got.

#2009 Create a persistent Inbox
  .github/changelog/2009-from-description
  includes/class-activitypub.php
  includes/class-handler.php
  includes/collection/class-inbox.php
  includes/debug.php
  includes/functions.php
  includes/handler/class-inbox.php
  includes/wp-admin/class-advanced-settings-fields.php
  includes/wp-admin/class-settings.php
  tests/includes/collection/class-test-inbox.php
  tests/includes/handler/class-test-inbox.php
Labels: [Status] In Progress, [Feature] Collections, [Feature] WP Admin

#2043 Update wp-env config and simplify env-start script
  .wp-env.json
  package.json
Labels: Skip Changelog

#2042 Simplify Code and remove usage of `get__id` where possible
  includes/class-activitypub.php
  includes/class-dispatcher.php
  includes/class-migration.php
  includes/collection/class-actors.php
  includes/handler/class-follow.php
  includes/handler/class-undo.php
  includes/model/class-blog.php
  includes/rest/class-actors-controller.php
  includes/rest/class-actors-inbox-controller.php
  includes/rest/class-collections-controller.php
  includes/rest/class-comments-controller.php
  includes/rest/class-followers-controller.php
  includes/rest/class-following-controller.php
  includes/rest/class-inbox-controller.php
  includes/rest/class-outbox-controller.php
  includes/rest/class-post-controller.php
  integration/class-enable-mastodon-apps.php
  tests/includes/collection/class-test-actors.php
  tests/includes/rest/class-test-actors-controller.php
  tests/includes/rest/class-test-actors-inbox-controller.php
  tests/includes/rest/class-test-collections-controller.php
  tests/includes/rest/class-test-comments-controller.php
  tests/includes/rest/class-test-followers-controller.php
  tests/includes/rest/class-test-following-controller.php
  tests/includes/rest/class-test-outbox-controller.php
  tests/includes/rest/class-test-post-controller.php
Labels: [Status] In Progress, [Focus] Compatibility, Skip Changelog, [Feature] Collections, [Feature] REST API

#2047 Starter Kit: Add actor selection to Starter Kit import
  .github/changelog/2047-from-description
  includes/wp-admin/import/class-starter-kit.php
Labels: [Status] In Progress, [Feature] WP Admin, [Feature] Import

#2048 Starter Kit: Import from URL
  .github/changelog/2048-from-description
  includes/wp-admin/import/class-starter-kit.php
Labels: [Status] In Progress, [Feature] WP Admin, [Feature] Import

#2055 Handle errors in actor retrieval for followers/following
  .github/changelog/2055-from-description
  includes/rest/class-followers-controller.php
  includes/rest/class-following-controller.php
Labels: [Feature] REST API

#2064 Add .extract-wp-hooks.json config and update .distignore
  .distignore
  .extract-wp-hooks.json
Labels: Skip Changelog

#2044 Add code coverage reporting to GitHub Actions workflow
  .github/changelog/2044-from-description
  .github/workflows/phpunit.yml
  docs/development-environment.md
  includes/activity/class-generic-object.php
  tests/includes/class-test-activitypub.php
  tests/includes/class-test-functions.php
  tests/includes/class-test-moderation.php
  tests/includes/class-test-signature.php
Labels: Actions, Docs

#2085 Fix PHP 8.4 deprecation warnings with null parameter handling
  .github/changelog/2085-from-description
  includes/collection/class-actors.php
  tests/includes/handler/class-test-announce.php
  tests/includes/handler/class-test-inbox.php
Labels: [Feature] Collections

#2089 Enable REST API support for Actor post type
  includes/class-activitypub.php
Labels: Skip Changelog

#2083 Fix duplicate HTML IDs and missing form labels in modal blocks
  .github/changelog/2083-from-description
  build/follow-me/render.php
  build/remote-reply/render.php
  includes/class-blocks.php
  src/follow-me/render.php
  src/remote-reply/render.php
Labels: [Block] Follow Me, [Block] Remote Reply, [Focus] Editor

#2046 Delete: Self-Destruct
  .github/changelog/2046-from-description
  includes/class-cli.php
  includes/wp-admin/class-admin.php
Labels: [Status] In Progress, [Feature] WP Admin, [Feature] CLI

#2105 Improve user options fetching and loading state handling
  .github/changelog/2105-from-description
  build/follow-me/index.asset.php
  build/follow-me/index.js
  build/followers/index.asset.php
  build/followers/index.js
  src/shared/use-user-options.js
Labels: [Focus] Editor

#2115 Add 'Follow' to inbox persisted activity types
  includes/handler/class-inbox.php
Labels: Skip Changelog

#2120 Fix query args preservation in collection pagination links
  .github/changelog/2120-from-description
  includes/rest/trait-collection.php
  tests/includes/rest/class-test-trait-collection.php
Labels: [Feature] REST API

#2096 Use wp_interactivity_config() for static values
  .github/changelog/2096-from-description
  build/follow-me/render.php
  build/follow-me/view.asset.php
  build/follow-me/view.js
  build/followers/render.php
  build/followers/view.asset.php
  build/followers/view.js
  build/reactions/render.php
  build/reactions/view.asset.php
  build/reactions/view.js
  build/remote-reply/render.php
  build/remote-reply/view.asset.php
  build/remote-reply/view.js
  src/follow-me/render.php
  src/follow-me/view.js
  src/followers/render.php
  src/followers/view.js
  src/reactions/render.php
  src/reactions/view.js
  src/remote-reply/render.php
  src/remote-reply/view.js
Labels: [Block] Follow Me, [Block] Followers, [Block] Remote Reply, [Focus] Editor, [Block] Reactions, [Feature] Reactions
